body 
{
  background-color: #F9F7DE;
  margin: 25px;
}
.body_stretch 
{
  min-height: 88vh;
}

header 
{
  background-color: #2C3D99;
  height: 115px;
  margin: -25px -25px 25px;
  box-shadow: 0px 3px 5px grey;
}

.grid 
{
  display: grid;
  grid-template-columns: repeat(13, 7.68%);
}
.headfoot_grid 
{
  margin: 0px 25px;
  display: grid;
  grid-template-columns: repeat(13, 7.68%);
}
.grid_align 
{
  grid-column: 4/11;
}
.grid_footer_left 
{
  grid-column: 4/8;
}
.grid_footer_right 
{
  grid-column: 10/12;
}

.flex_container 
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex_center 
{
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex_start
{
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

.nav_dimension 
{
  height: 115px; /* Separate value than header height */
}
nav 
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 18px;
}
nav a 
{
  color: white;
  font-size: 18pt;
  font-family: "Spectral", sans-serif;
  text-decoration: none;
}
nav a:hover 
{
  text-decoration: underline;
}

.v_line 
{
  border-left: 3px solid white;
  height: 45px;
  color: rgba(0, 0, 0, 0); /* Make filler text invisible */
}

.inline 
{
  display: inline;
}

.outline 
{
  outline-color: #FF3A2F;
  outline-style: double;
}

.size_fill
{
  width: -webkit-fill-available;
}

.less_margin
{
  margin: 5px 0px;
}

.left_padding
{
  padding-left: 15px;
}

button 
{
  background-color: #2C3D99;
  color: white;
  font-family: "Spectral", sans-serif;
  padding: 7px; /* TODO: 12px padding on mobile to make it 48px high */
}

button:hover 
{
  box-shadow:
    0 4px 8px 0 grey,
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  /* Code modified from W3 Schools. https://www.w3schools.com/css/css3_buttons.asp */
}

footer table 
{
  background-color: #2C3D99;
  min-height: 12vh;
  width: 100vw;
  margin: 50px -25px -25px;
}
footer a 
{
  color: white;
  font-family: "Spectral", sans-serif;
  text-decoration: none;
  display: block;
  margin-bottom: 8px;
}
footer a:hover 
{
  text-decoration: underline;
}


/*** Images ***/


.header_image 
{
  height: 45px;
}
a:hover img 
{
  height: 50px;
}

td img
{
  height: 120px;
}

.vines 
{
  height: 44px;
  background-image: url(./Images/Vines.png);
  background-repeat: repeat-x;
}
.star 
{
  height: 35px;
}
.small_star
{
  height: 20px;
}
.flower 
{
  height: 45px;
  margin: 0px 10px;
}


/*** Fonts & Body Text ***/


h1 
{
  font-family: "Stardos Stencil", serif;
  font-size: 54pt;
}
h2 
{
  font-family: "Stardos Stencil", serif;
  font-size: 25pt;
}
h3 
{
  margin: 20px 0px;
  font-family: "Stardos Stencil", serif;
  font-size: 15pt;
}
footer h3 
{
  margin: 30px 0px 20px;
  color: white;
  text-decoration: underline double;
}
h5
{
  margin: 25px 0px 5px 0px;
  font-family: "Spectral", sans-serif;
  font-size: 11pt;
  text-decoration: underline dotted;
}
h6 
{
  margin: 20px 0px;
  font-family: "Stardos Stencil", serif;
  font-size: 10pt;
}
li 
{
  font-family: "Spectral", sans-serif;
}
p 
{
  font-family: "Spectral", sans-serif;
  font-size: 12pt;
}
footer p 
{
  color: white;
}

/* Font size combos: 
p 12pt - h3 17pt
*/

.center_text 
{
  text-align: center;
}


/*** ID Selectors ***/


#index_IAC_readmore
{
  margin: 10px 0px 20px;
}


/** Media Queries **/
/** "Tablet" @ less than 1110px **/
@media (max-width: 1200px) {
  .grid_align 
  {
    grid-column: 2/13;
  }

  .grid_footer_left 
  {
    grid-column: 2/8;
  }

  .grid_footer_right 
  {
    grid-column: 11/13;
    margin-left: -2vw;
  }
}

@media (max-width: 735px) {
  h1
  {
    font-size: 45pt;
  }
  nav a
  {
    font-size: 16pt;
  }
  .header_image 
  {
    height: 40px;
  }
}

/** "Mobile" @ less than 645px **/

@media (max-width: 645px) {
  .grid 
  {
    grid-template-columns: repeat(8, 12.5%)
  }
  .headfoot_grid {
    grid-template-columns: repeat(8, 12.5%)
  }
  .grid_align 
  {
    grid-column: 2/8;
  }
  .grid_footer_left {
    grid-column: 2/8;
  }
  .grid_footer_right {
    grid-column: 2/8;
  }
}

/** 

TODO: Mobile Responsive - Hamburger Menu
"Phone" resolution @ 645px




